<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Package Tour Results</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <style>

    .hotel {
      border: 1px solid #ddd;
      padding: 0.5rem;
      border-radius: 10px;
      margin-bottom: 2rem;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

  </style>
</head>

<body class="container py-5">
  
<h1><%= tour.title %></h1>
<!-- <img src="" alt="Tour Image" width="530" height="370"> -->
<p>
  Pricing from <span class="lrgprice">R <%= tour.price[0] %> pp</span> for 2 people from Cape Town
  <br>
  <span class="lrgprice">R <%= tour.price[1] %> pp</span> for 2 people from Stellenbosch
</p>

<p><%= tour.description %></p>

<ul>
  <% tour.highlights.forEach(function(highlight) { %>
    <li><%= highlight %></li>
  <% }); %>
</ul>

<h1>Check Tour Availability</h1>
  <form action="/search" method="POST">
    <label>Check-in Date:</label>
    <input type="date" name="checkIn" required />
    <br />
    <label>Check-out Date:</label>
    <input type="date" name="checkOut" required />
    <br />
    <button type="submit">Search</button>
  </form>

</body>
</html>